<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Timers Modal</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"
      defer
    ></script>
  </head>
  <body class="bg-gray-200">
    <div class="bg-red-100 flex flex-col p-6 text-black space-y-3">
      <h3 class="text-3xl font-extrabold">Welcome message for first visitors</h3>
      <p class="text-2xl">
        A little Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit modi
        delectus provident qui, dolor eligendi doloremque facilis amet similique suscipit impedit
        vel exercitationem odit officia dolorem velit fuga illo deserunt? welcome text
      </p>
      <p class="text-xl">
        Another possible Lorem ipsum, dolor sit amet consectetur adipisicing elit. A atque ipsam
        illo nisi culpa explicabo ipsa saepe quas quidem quos, accusamus voluptas temporibus vel
        quo, voluptatem quaerat facere cum aperiam.
      </p>
      <div x-data="{selected:null}">
        <p
          class="text-xl flex mb-4 cursor-pointer"
          @click="selected !== 0 ? selected = 0 : selected = null"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6 mr-2"
            x-show="selected == null"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-6 w-6 mr-2"
            x-show="selected == 0"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
          Why we use your data
        </p>
        <ul x-show="selected == 0" class="flex flex-col space-y-2 text-xl">
          <li class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              /></svg
            >list
          </li>
          <li class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              /></svg
            >here
          </li>
          <li class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              /></svg
            >should
          </li>
          <li class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              /></svg
            >hide on click
          </li>
        </ul>
      </div>
      <hr class="h-1 bg-gray-700 w-auto" />
      <div class="flex flex-row space-x-8">
        <a
          class="transition duration-500 p-4 px-12 border-2 border-red-600 rounded-lg hover:bg-red-600 hover:border-transparent hover:text-white"
          ng-click="close()""
        >
          Manage
        </a>
        <a
          class="transition duration-500 p-4 px-12 border-2 border-transparent bg-red-600 rounded-lg text-white hover:bg-white hover:border-red-600 hover:text-black"
          ng-click="close()"
        >
          Accept
        </a>
      </div>
    </div>
  </body>
</html>
